.projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.projects_items {
  background: var(--color-secondary);
  padding: 1.6rem;
  border-radius: 3rem;
  border: 2px solid transparent;
  transition: var(--transition);
  overflow: hidden;
  box-shadow: 2px 2px 2px var(--color-primary);
}

.projects_items:hover {
  background: transparent;
  box-shadow: 0 0 10px var(--color-primary);
}

.projects_image img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 2rem;
  border: 1px solid var(--color-secondary);
}

.projects_items h3 {
  text-align: center;
  font-weight: 700;
}

.projects_items p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.projects_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects_info span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-primary);
}

.projects_cta {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.icon {
  font-size: 2.5rem;
  transition: var(--transition);
}

.icon:hover {
  transform: scale(1.2);
}

/********** media queries (medium devices) **********/

@media screen and (max-width: 1440px) {
  .projects_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

/********** media queries (small devices) **********/

@media screen and (max-width: 768px) {
  .projects_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .projects_items p {
    text-align: center;
  }

  .projects_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
