.skills_container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(210px, auto));
    gap: 2.5rem;
}


.skills_details {
    background: var(--color-secondary);
    padding: 1.2rem;
    border-radius: 1rem;
    transition: var(--transition);
    transform: rotate(8deg);
}

.skills_details:hover {
   transform: rotate(0);
}

.skills_details p, small {
    font-weight: 800;
    margin-top: 1.2rem;
} 

.i {
    font-size: 2.5rem;
}