header {
    height: 100vh;
    padding-top: 12rem;
    overflow: hidden;
    position: relative;
}

.container {
    width: 60%;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.top-tag {
    position: absolute;
    top: 6rem;
    left: 10rem;
    font-family: 'La Belle Aurore';
    font-size: 2rem;
    transition: var(--transition);
}

.top-tag:hover {
    color: var(--color-primary);
    text-shadow: 0 0 15px var(--color-primary);
}

.proffesion {
    color: var(--color-primary);
    position: relative;
    font-size: 1.5rem;
}

.proffesion::before {
    content: '';
    display: inline;
    height: .1rem;
    width: 4rem;
    background: var(--color-primary);
    position: absolute;
    top: 1rem;
    right: 20rem;
}

.proffesion::after {
    content: '';
    display: block;
    height: .1rem;
    width: 4rem;
    background: var(--color-primary);
    position: absolute;
    top: 1rem;
    left: 20rem;
}



/********** Cta **********/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

/********** Socials icons **********/

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    position: absolute;
    bottom: 3rem;
    font-size: 1.5rem;
    height: 26rem;

}

/********** Scroll down **********/

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 22rem;
    font-weight: 500;
    writing-mode: vertical-lr;
}

/********** media queries **********/

@media screen and (max-width: 1554px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    header {
        padding-top: 10rem;
        overflow: hidden;
    }

    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 854px) {
    header {
        padding-top: 8rem;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }

    .top-tag {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 719px) {
    header {
        padding-top: 6rem;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    header {
        padding-top: 3rem;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }

    .cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .proffesion::before {
        visibility: hidden;
    }
    
    .proffesion::after {
        visibility: hidden;
    }

}

@media screen and (max-width: 425px) {
    header {
        padding-top: 2rem;
    }

    h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.1rem;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }

    .cta {
        margin-top: 2rem;
    }
}