footer {
    padding: 3rem 0;
    text-align: center;
    font-style: 1.2rem;
    position: relative;
}

.footer_socials  {
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.footer_socials a:hover {
    transform: scale(1.2);
}

.bottom-bar {
    text-align: center;
    padding: 0 0 8rem 0;
}

@media screen and (max-width: 854px) {
    #footer {
        padding-bottom: 3rem;
    }
    .bottom-tag {
        position: absolute;
        bottom: 1.5rem;
        left: 1.5rem;
        font-size: 1.5rem;
        padding-bottom: 5rem;
    }
    
}